src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2ffc6d6-190b-4a08-8f09-cfdb463131c1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="c463c813-481d-4f85-ae53-225d16e3fcf6" >
		<http:listener doc:name="GET /hello" doc:id="67e822da-5069-46ee-bcb2-22741b2fbfbb" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="4808bb5e-40ac-44f5-b995-358a2e9419a3" message='#["Flow Started !!!"]'/>
		<set-payload value='#["Hello World!!!"]' doc:name="Set Payload" doc:id="d91ccf59-0c64-4bb2-8f22-2ec88a6d73f7" />
	</flow>
</mule>
